<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Travel</h2>
        <!-- <p>San Diego offers a wide variety of vibes in different neighborhoods... please, do not hesitate to contact us with questions!</p> -->
        <div class="index align-left">
            <section>
                <header>
                    <h3>Transportation</h3>
                </header>
                <div class="content">
                    <p>We recommend renting a car or using Uber or Lyft for transportation while in San Diego.</p>
                </div>
            </section>
            
            <section>
                <header>
                    <h3 id="accomodations">Accomodations</h3>
                </header>
        
                <div class="content">
                    <p class="no-bottom-margin">We have reserved a room block at the <a href="https://www.marriott.com/hotels/travel/sancd-courtyard-san-diego-downtown/">Courtyard by Marriott in Downtown San Diego</a>. We'll be staying there Thursday to Sunday if you'd like to join us! <a href="https://www.marriott.com/events/start.mi?id=1621021012620&key=GRP">Click here to book a room</a> at a slight discount, so long as you book before January 26, 2022.</p>
                    <div class="hotel-images gallery style1">
                      <article>
                        <span class="image">
                          <img src="images/hotel/sancd-entrance-0040-ver-clsc.jpg" alt="Hotel Entrance" title="Hotel Entrance"/>
                        </span>
                      </article>
                      <article>
                        <span class="image">
                          <img src="images/hotel/sancd-exterior-8288-hor-clsc.jpg" alt="Hotel Exterior" title="Hotel Exterior"/>
                        </span>
                      </article>
                      <article>
                        <span class="image">
                          <img src="images/hotel/sancd-balcony-8285-hor-clsc.jpg" alt="Hotel Cupola View" title="Hotel Cupola View" />
                        </span>
                      </article>
                      <article>
                        <span class="image">
                          <img src="images/hotel/sancd-exterior-0030-ver-clsc.jpg" alt="Hotel Exterior" title="Exterior Hotel"/>
                        </span>
                      </article>
                    </div>

                    <p class="gallery-caption">
                        The Courtyard by Marriott in Downtown San Diego.
                    </p>

                    
                    <p>Alternatively, if you would like more space or plan to share accommodations with other friends or family, we highly recommend taking advantage of Airbnb or other short-term rental options. San Diego has an eclectic mix of neighborhoods, with lots of options for dining and going out. North Park, close to Balboa Park, offers a more local experience with an artsy flair. If you're looking for more traditional nightlife, Downtown Gaslamp District or Little Italy are also close by. For those looking for a beach experience, check out La Jolla (upscale, pronouced Lah HOY-ah), Pacific Beach (bro-oriented the closer you get to Garnet Ave.), or Ocean Beach (get in touch with your inner hippie), though they're a bit further from the venue.</p>
                        
                    <p>If you have any questions please, do not hesitate to <a href="mailto:wedding@blythe.radu.love">contact us</a>!</p>
                </div>
            </section>
            <section>
                <header>
                    <h3>Local attractions</h3>
                </header>
                <div class="content">
                    <ul>
                        <li>Visit the sea lions in La Jolla Cove</li>
                        <li>Fish tacos at Oscars in Pacific Beach or Hillcrest</li>
                        <li>Torrey Pines State Reserve</li>
                    </ul>

                    And if you don't want to leave Balboa Park:
                    <ul>
                        <li>San Diego Zoo</li>
                        <li>Japanese Friendship Garden</li>
                        <li>Various Museums</li>
                        <li>Rose and Desert Garden</li>
                        <li>Hiking/Walking trails</li>

                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>