<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Travel</h2>
        <!-- <p>San Diego offers a wide variety of vibes in different neighborhoods... please, do not hesitate to contact us with questions!</p> -->
        <div class="index align-left">
            <section>
                <header>
                    <h3>Transportation</h3>
                </header>
                <div class="content">
                    <p>We recommend renting a car or using Uber or Lyft for transportation while in San Diego.</p>
                </div>
            </section>
            
            <section>
                <header>
                    <h3 id="accomodations">Accomodations</h3>
                </header>
        
                <div class="content">
                    <p class="no-bottom-margin">We have reserved a room block at the <a href="https://www.marriott.com/hotels/travel/sancd-courtyard-san-diego-downtown/">Courtyard by Marriott in Downtown San Diego</a>. We'll be staying there Thursday to Sunday if you'd like to join us! <a href="https://www.marriott.com/events/start.mi?id=1621021012620&key=GRP">Click here to book a room</a> at a slight discount, so long as you book before January 26, 2022.</p>
                    <div class="hotel-images gallery style1">
                      <article>
                        <span class="image">
                          <img src="images/hotel/sancd-entrance-0040-ver-clsc.jpg" alt="Hotel Entrance" title="Hotel Entrance"/>
                        </span>
                      </article>
                      <article>
                        <span class="image">
                          <img src="images/hotel/sancd-exterior-8288-hor-clsc.jpg" alt="Hotel Exterior" title="Hotel Exterior"/>
                        </span>
                      </article>
                      <article>
                        <span class="image">
                          <img src="images/hotel/sancd-balcony-8285-hor-clsc.jpg" alt="Hotel Cupola View" title="Hotel Cupola View" />
                        </span>
                      </article>
                      <article>
                        <span class="image">
                          <img src="images/hotel/sancd-exterior-0030-ver-clsc.jpg" alt="Hotel Exterior" title="Exterior Hotel"/>
                        </span>
                      </article>
                    </div>

                    <p class="gallery-caption">
                        The Courtyard by Marriott in Downtown San Diego.
                    </p>

                    
                    <p>Alternatively, if you would like more space or plan to share accommodations with other friends or family, we highly recommend taking advantage of Airbnb or other short-term rental options. San Diego has an eclectic mix of neighborhoods, with lots of options for dining and going out. North Park, close to Balboa Park, offers a more local experience with an artsy flair. If you're looking for more traditional nightlife, Downtown Gaslamp District or Little Italy are also close by. For those looking for a beach experience, check out La Jolla (upscale, pronouced Lah HOY-ah), Pacific Beach (bro-oriented the closer you get to Garnet Ave.), or Ocean Beach (get in touch with your inner hippie), though they're a bit further from the venue.</p>
                        
                    <p>If you have any questions please, do not hesitate to <a href="mailto:wedding@blythe.radu.love">contact us</a>!</p>
                </div>
            </section>
            <section>
                <header>
                    <h3>Local attractions</h3>
                </header>
                <div class="content">
                    <ul>
                        <li>Visit the sea lions in La Jolla Cove</li>
                        <li>Fish tacos at Oscars in Pacific Beach or Hillcrest</li>
                        <li>Torrey Pines State Reserve</li>
                    </ul>

                    And if you don't want to leave Balboa Park:
                    <ul>
                        <li>San Diego Zoo</li>
                        <li>Japanese Friendship Garden</li>
                        <li>Various Museums</li>
                        <li>Rose and Desert Garden</li>
                        <li>Hiking/Walking trails</li>

                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Frequently Asked</h2>
        <div class="align-left">
        
        <!-- Definition List -->
        <section>

            <div class="content">

                <dl>
                    <dt>Can I bring my kids?</dt>
                    <dd>
                        <p>While we love your little ones, we have opted to have an adult only ceremony and reception.</p>
                    </dd>
                    <dt>What about COVID-19 precautions?</dt>
                    <dd>
                        <p>We hope the state of the pandemic will be much improved by our wedding date, but as of now we don't know what precautions will be necessary to ensure everyone is safe. We'll keep this in mind and provide an update closer to the date.</p>
                    </dd>
                    <dt>What is the dress code?</dt>
                    <dd>
                        <p>The dress code is semi-formal.</p>
                    </dd>
                    <dt>Are there vegetarian food options? </dt>
                    <dd>
                        <p>Yes, there will be vegetarian options. You'll also be able to indicate any dietary restrictions when you RSVP, and we'll do our best to meet your needs.</p>
                    </dd>
                    <dt>Will there be an open bar?</dt>
                    <dd>
                        <p>Most definitely 🥳</p>
                    </dd>
                    <dt>Will there be parking at the venue?</dt>
                    <dd>
                        <p>Yes, there is plenty of free parking at the museum and in any Balboa Park parking lot.</p>
                    </dd>
                    <dt>What will the weather be like?</dt>
                    <dd>
                        <p>We hope it'll be awesome! The average lows and highs for San Diego for this date are 45/68°F (7/20°C) and it can start to get a bit chilly when the sun goes down. On average there are 8 hours of sunshine and 2.5mm (0.1") of precipitation.</p>
                    </dd>
                    <dt>Is the wedding indoors or outdoors?</dt>
                    <dd>
                        <p>The ceremony will be outdoors on the rooftop of the museum, with an indoor option in case of inclement weather. Both the cocktail hour and the reception will be indoors.</p>
                    </dd>
                    <dt>How can I reach you if I have more questions?</dt>
                    <dd>
                        <p>You can email us at <a href="mailto:wedding@blythe.radu.love">wedding@blythe.radu.love</a></p>
                    </dd>
                </dl>

            </div>
        </section>

    </div>


</div>
</section>
