<section class="wrapper style2 align-center">
    <div class="inner">
        <h2>Frequently Asked</h2>
        <div class="align-left">
        
        <!-- Definition List -->
        <section>

            <div class="content">

                <dl>
                    <dt>Can I bring my kids?</dt>
                    <dd>
                        <p>While we love your little ones, we have opted to have an adult only ceremony and reception.</p>
                    </dd>
                    <dt>How do I RSVP?</dt>
                    <dd>
                        <p>We've opted for an online RSVP, which you can access at the following address: <a href="https://rsvp.blythe.radu.love">rsvp.blythe.radu.love</a>. If you encounter any issues using the RSVP website, please send us an email at <a href="mailto:rsvp@blythe.radu.love">rsvp@blythe.radu.love</a>.</p>
                    </dd>
                    <dt>Do you have a registry?</dt>
                    <dd>
                        <p>We are registered with Zola at the following address: <a href="https://www.zola.com/registry/blytheandradu">zola.com/registry/blytheandradu</a>. There will also be a box for cards at the wedding. Thank you!</p>
                    </dd>
                    <dt>What about COVID-19 precautions?</dt>
                    <dd>
                        <p>For the health and safety of all guests, we ask that only vaccinated individuals attend, and we also strongly recommend getting a booster shot. We are not yet sure if mask wearing will be required by the museum, but we will make masks and hand sanitizer available for all guests. Please check back closer to the date for any updates.</p>
                    </dd>
                    <dt>What is the dress code?</dt>
                    <dd>
                        <p>Please feel free to dress anywhere between cocktail and formal attire.</p>
                    </dd>
                    <dt>Are there vegetarian food options? </dt>
                    <dd>
                        <p>Yes, there will be vegetarian options. You'll also be able to indicate any dietary restrictions when you RSVP, and we'll do our best to meet your needs.</p>
                    </dd>
                    <dt>Will there be an open bar?</dt>
                    <dd>
                        <p>Most definitely 🥳</p>
                    </dd>
                    <dt>Will there be parking at the venue?</dt>
                    <dd>
                        <p>Yes, there is plenty of free parking at the museum and in any Balboa Park parking lot.</p>
                    </dd>
                    <dt>What will the weather be like?</dt>
                    <dd>
                        <p>We hope it'll be awesome! The average lows and highs for San Diego for this date are 45/68°F (7/20°C) and it can start to get a bit chilly when the sun goes down. On average there are 8 hours of sunshine and 2.5mm (0.1") of precipitation.</p>
                    </dd>
                    <dt>Is the wedding indoors or outdoors?</dt>
                    <dd>
                        <p>The ceremony will be outdoors on the rooftop of the museum, with an indoor option in case of inclement weather. Both the cocktail hour and the reception will be indoors.</p>
                    </dd>
                    <dt>How can I reach you if I have more questions?</dt>
                    <dd>
                        <p>You can email us at <a href="mailto:wedding@blythe.radu.love">wedding@blythe.radu.love</a></p>
                    </dd>
                </dl>

            </div>
        </section>

    </div>


</div>
</section>