@charset "utf-8";

.gallery.style2 article img, .gallery.style1 article img {
    height: 300px;
    object-fit: cover;
}

.gallery.style2 article img.center-top, .gallery.style1 article img.center-top  {
    object-position: center top;
}

.wrapper.style1 > .inner {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.index > section:first-child {
    padding-top:1rem;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.gallery-caption {
    margin-bottom: 1rem;
    font-size: smaller;
    font-style: italic;
}

.hotel-images {
    margin-top: 1rem;
    overflow: hidden;
    max-height: 304px;
}

.hotel-images article {
    padding: 2px;
}